[package]
authors.workspace = true
edition.workspace = true
license.workspace = true
name = "inferadb-engine-wasm"
publish.workspace = true
rust-version.workspace = true
version.workspace = true

[dependencies]
anyhow = { workspace = true }
bon = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
wasmtime = { workspace = true }

[dev-dependencies]
wat = "1.0"

[lints]
workspace = true
