apiVersion: v1
kind: Service
metadata:
  name: inferadb-engine
  labels:
    app: inferadb-engine
    component: engine
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8082"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  sessionAffinity: None
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
    - name: grpc
      port: 8081
      targetPort: grpc
      protocol: TCP
    - name: mesh
      port: 8082
      targetPort: mesh
      protocol: TCP
  selector:
    app: inferadb-engine
    component: engine

---
apiVersion: v1
kind: Service
metadata:
  name: inferadb-engine-headless
  labels:
    app: inferadb-engine
    component: engine
spec:
  type: ClusterIP
  clusterIP: None
  publishNotReadyAddresses: true
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
    - name: grpc
      port: 8081
      targetPort: grpc
      protocol: TCP
    - name: mesh
      port: 8082
      targetPort: mesh
      protocol: TCP
  selector:
    app: inferadb-engine
    component: engine
