apiVersion: v1
kind: Service
metadata:
  name: inferadb
  labels:
    app: inferadb
    component: server
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8080"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  sessionAffinity: None
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
    - name: grpc
      port: 8081
      targetPort: grpc
      protocol: TCP
    - name: internal
      port: 9090
      targetPort: internal
      protocol: TCP
  selector:
    app: inferadb
    component: server

---
apiVersion: v1
kind: Service
metadata:
  name: inferadb-headless
  labels:
    app: inferadb
    component: server
spec:
  type: ClusterIP
  clusterIP: None
  publishNotReadyAddresses: true
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
    - name: grpc
      port: 8081
      targetPort: grpc
      protocol: TCP
    - name: internal
      port: 9090
      targetPort: internal
      protocol: TCP
  selector:
    app: inferadb
    component: server
